<h1>All Users</h1>
<hr/>

<%= will_paginate %>

<% @users.each do |user| %>
	<div class="row">

		<div class="col-lg-8 well">
			<h4><%= link_to user.name, user_path(user) %></h4>
			<p>
				<span class='quiet'><small> <%= time_ago_in_words(user.created_at) %> ago</small></span>
			</p>
		</div>

	</div>
<% end %>



<%= will_paginate %>