<%= render @video %>

<div class="row">
	<div class="col-md-4 center">
		<h3>Watched by <%= @video.users.size %> users</h3>
		<% @video.users.each do |user| %>
		<ul>
			<li><%= user.name %></li>
		</ul>
		<% end %>
	</div>
</div>

<h5><%= link_to 'Return to Videos Listing', videos_path %></h5>
